@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutaModel
@{
  var Rutas = Model.Ruta;
}
<h1>Formulario rutas.</h1> 
<div class="text">
  <form method="POST">
    <label for="origen" class="form-label">Digite el nombre de la estacion:</label>
      <input type="number" class="form-control" id="origen" placeholder="Estacion de origen" asp-for="@Rutas.origen">
      <label for="destino" class="form-label">Digite el destino de la ruta:</label>
      <input type="number" class="form-control" id="destino" placeholder="Estacion de destino" asp-for="@Rutas.destino">
      <label for="tiempo_estimado" class="form-label">Digite el tiempo estimado de la ruta</label>
      <input type="number" class="form-control" id="tiempo_estimado" placeholder="Tiempo estimado de la ruta" asp-for="@Rutas.tiempo_estimado">
    <hr>
    <button type="submit" class="btn btn-success" style=" background-color: gray; border-color: black; font-size: black;">Enviar</button>
  </form>
</div>