@page
@{
}
<h1>Formulario estaciones.</h1> 
<div class="text">
  <form action="">
    <label for="id_Estacion" class="form-label">Digite el ID de la estación:</label>
    <input type="number" class="form-control" id="id_Estacion" name="id_Estacion" placeholder="ID Estación">
    <label for="nombre_Estacion" class="form-label">Digite el nombre de la estación:</label>
    <input type="text" class="form-control" id="nombre_Estacion" name="nombre_Estacion" placeholder="Nombre Estación">
    <label for="direccion_Estacion" class="form-label">Digite la dirección de la estación:</label>
    <input type="text" class="form-control" id="direccion_Estacion" name="direccion_Estacion" placeholder="Dirección de la Estación">
    <label for="coorx" class="form-label">Digite la coordenada X:</label>
    <input type="number" class="form-control" id="coorx" name="coorx" placeholder="Coordenada X">
    <label for="coorY" class="form-label">Digite la coordenada Y</label>
    <input type="number" class="form-control" id="coorY" name="coorY" placeholder="Coordenada Y">
    <label for="tipo" class="form-label">Digite el tipo de estación:</label>
    <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo de Estación">
    <hr>
      <button type="submit" class="btn btn-success" style=" background-color: gray; border-color: black; font-size: black;">Enviar</button>
  </form>
</div>